<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
  </head>
  <body>
    <h1>Login page</h1>
    <p th:if="${loginError}">Wrong user or password</p>
    <form th:action="@{/j_spring_security_check}" method="post">
      <label for="j_username">Username</label>:
      <input type="text" id="j_username" name="j_username" /> <br />
      <label for="j_password">Password</label>:
      <input type="password" id="j_password" name="j_password" /> <br />
      <input type="submit" value="Log in" />
    </form>
  </body>
</html>